.blocks-container{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.block{
    height: 18rem;
    width: 18rem;
    border: 1px solid white;
    border-radius: 8px;
    display: grid;
    place-items: center;
    padding: 1rem;
}