.nav-container{
  width: 100%;
  height: 20vh;
  border-radius: 8px;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  padding-top: 25px;
}

.navbar > ul{
  display: flex;
  list-style: none;
  justify-content: end;
  gap: 50px;
  margin-right: 15vh;
}
.navbar > ul > li{
  font-size: 16px;
  text-decoration: none;
  font-weight: 550;
}
.navbar > ul > li > img{
  background-color: white;
  border-radius: 100%;
}
.hero-section{
  width: 100%;
  height: 100vh;
  background-image: url('../public/img-bg.jpg');
  margin-top: 0%;
  padding-top: 0%;
}
.hero-section-container{
  display: flex;
  margin-top: 0%;
  padding-top: 0%;
}
.container-inner-column{
  width: 100%;
  height: 80vh;
  padding: 50px;
  margin: 0%;
  /* border: 1px solid white; */
}
.main-title{
  margin-top: 10vh;
}

.background-color-dark-grey{
  background-color: rgb(29, 29, 29);
}
.color-color{

}
.section{
  padding: 25px;
  width: 100%;
  margin: 0%;
  min-height: 20vh;
}
.tech-stack{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.minor-block{
  width: 150px;
  height: 150px;
  background-color: rgb(14, 14, 14);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.minor-block > img{
  transform: scale(0.7);
  margin-bottom: 0px;
}
.minor-block > h3{
  margin-top: 0px;
  text-align: center;
  font-size: 15px;
}
.import-transform-scale{
  transform: scale(0.2);
}
#next-js-icon{
  transform: scale(0.58);
  background-color: white;
  border: 3px solid white;
  border-radius: 100%;
  /* margin: 0%; */
}