.container-inner-column{
  width: 100%;
  height: 80vh;
  padding: 50px;
  margin: 0%;
}
.main-title{
  margin-top: 10vh;
}

.background-color-dark-grey{
  background-color: rgb(29, 29, 29);
}
.background-color-dark-dark-grey{
  background-color: rgb(10,10,10);
}
.background-color-black{
  background-color: black;
}
.color-color{

}
.section{
  width: 100%;
  margin: 0%;
  min-height: 20vh;
}
.inner-container{
  padding: 15vh 15vw;
}
.center-div{
  display: grid;
  place-items: center;
}
.btn{
  width: 100px;
  height: 35px;
  border: 1px solid white;
  background-color: black;
  color: white;
}
.btn:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}